<%= div_for customer do %>
	<div class="customer-details">
		<li>Customer Name <%= customer.name %></li>
	</div>
	<%= link_to "View #{customer.name}", customer_path(customer), class: "customer-show-link" %>
<% end %>