	<div class="customer-details">
		<li>Customer Name <%= @customer.name %></li>
		<li>Customer Email <%= @customer.email %></li>
		<%= link_to "Edit", edit_customer_path(@customer), remote: true, class: "edit-customer-btn" %>
	</div>
<div id="customer-form" style="display:none;"></div>