<% if @customers.any? %>
	<% @customers.each do |customer| %>
		<%= link_to "#{customer.name}", customer_path(customer), class: "something" %>
	<% end %>
<% else %>
		<p>No customers yet</p>
<% end %>