<div id="orders">
	<% if @orders.any? %>
		<% @orders.each do |order| %>
			<%= link_to "#{order.id}", order_path(order), class: "something" %>
			<%= link_to "Delete #{order.id}", order_path(order), method: :delete, class: "something" %>
			<%= link_to order, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
	  		<button>Delete Order with AJAX</button>
			<% end %>
		<% end %>
	<% else %>
		<p>No orders yet</p>
	<% end %>
</div>

<%= link_to 'New Order', new_order_path, remote: true %>

<div id="order-form" style="display:none;"></div>