<%= div_for @category do %>
	<li>Category Name <%= @category.name %></li>

	<div class="category-products">
		<% @category.products.each do |product| %>
			<%= render 'admin/products/product', product: product %>
		<% end %>
	</div>
<% end %>