<div class='new-right'>
	<button><%= link_to 'New Category', new_admin_category_path, remote: true %></button>
</div>

<hr>

<% if @categories.any? %>
	<ul>
		<% @categories.each do |category| %>
			<section class='category-box'>
				<%= link_to "#{category.name}", admin_category_path(category), class: "something" %>
				<%= category.products.count %> product(s)
				<%= link_to "Edit", edit_admin_category_path(category), remote: true %>
				<div id="category-form" style="display:none;"></div>
			</section>
		<% end %>
	</ul>
<% else %>
		<p>No categories yet</p>
<% end %>
