<% if @categories.any? %>
	<ul>
		<% @categories.each do |category| %>
		<li>
			<%= link_to "#{category.name}", admin_category_path(category), class: "something" %>
			<%= category.products.count %> product(s)
		</li>
		<% end %>
	</ul>
<% else %>
		<p>No categories yet</p>
<% end %>

<%= link_to 'New Category', new_admin_category_path, remote: true %>

<div id="category-form" style="display:none;"></div>