<section>
	<%= form_tag(admin_products_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
		<%= submit_tag "Search" %>
	<% end %>
</section>


<% if @products.any? %>
	<% @products.each do |product| %>
		<%= link_to "#{product.name}", admin_product_path(product), class: "something" %>
	<% end %>
<% else %>
		<p>No products yet</p>
<% end %>

	
