<% if @categories.any? %>
	<% @categories.each do |category| %>
		<%= link_to "#{category.name}", admin_category_path(category), class: "something" %>
	<% end %>
<% else %>
		<p>No categories yet</p>
<% end %>